body {
  margin: 0;
  background-color: #3A3D41;
  color: #DCDCDC;
}

/* BUTTONS */
.btn {
  cursor: pointer;
}

/* TITLE */
.title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* LIST WRAPPER */
.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* TODO LIST */
.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

/* ROW */
.list__item-row {
  display: flex;
  position: relative;
  margin-bottom: -1px;
}

/* CONFIRMATION MESSAGE as absolute child of ROW */
.del-confirmation {
  box-sizing: border-box;
  position: absolute;
  width: 170px;
  top: 1px;
  right: -171px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid royalblue;
  text-align: center;
}

/* COLS */
.list__item-col-id,
.list__item-col-name,
.list__item-col-status,
.list__item-col-priority,
.list__item-col-buttons {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #818d97;
  text-align: center;
  width: 100px;
}

.list__item-col-name,
.list__item-col-buttons {
  width: 350px;
}

/* FORM */
.form {
  position: relative;
  width: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border: 1px solid royalblue;
}

.form__id,
.form__taskName,
.form__taskPriority,
.form__taskStatus {
  margin-bottom: 5px;
}